
/* 
------------------------------------------------------------------------------
GENERAL
------------------------------------------------------------------------------
*/

.forecast {
    flex:1;
    box-sizing: border-box;
    
    padding:20px;
}
.forecast p {
    color: var(--text-color);
}


.forecastList {
    margin-top: 15px;
}

.forecastItem {
    display: flex;
    align-items: center;
    padding: 10px 0px;
    border-top: 1px solid #eee;
}
.forecastItem:last-child {
    border-bottom: 1px solid #eee;
}

.weatherGraphic {
    box-sizing: border-box;

    padding:5px;
    width: 30px;
    margin-right: 10px;

    border-radius: 5px;
    background-color: var(--background-weather-clear);
}

.date {
    display: flex;
    flex: 1;
}

.temp {
    display: flex;
    align-items: flex-end;
}


/* 
------------------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------------------
*/

@media only screen and (max-width: 768px) {

}

@media only screen and (max-width: 576px) {

}



/* 
------------------------------------------------------------------------------
CHECK TOUCH
------------------------------------------------------------------------------
*/

@media (pointer: fine) {

}