
/* 
------------------------------------------------------------------------------
GENERAL
------------------------------------------------------------------------------
*/

.weather {
    flex:1;
    box-sizing: border-box;

    padding:20px;
}
.weather.clear { background-color: var(--background-weather-clear); }
.weather.clouds { background-color: var(--background-weather-clouds); }
.weather.drizzle { background-color: var(--background-weather-drizzle); }
.weather.rain { background-color: var(--background-weather-rain); }
.weather.thunderstorm { background-color: var(--background-weather-thunderstorm); }
.weather.snow { background-color: var(--background-weather-snow); }
.weather.fog { background-color: var(--background-weather-fog); }

.weather h1,
.weather h2,
.weather h3,
.weather p  {
    color: #fff;
}

.graphicContainerWrapper {
}

.graphicContainer {
    display: flex;
    align-items: center;

    padding: 55px 0px;
}

.graphicContainerInfo {
    margin-left: 20px;
}

.temp {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-headline);
}

.weatherGraphic {
    width: 130px;
}

.infoContainer {
    display: flex;
}

.infoContainerColumn {
    margin-right: 10px;
}
.infoContainerColumn + .infoContainerColumn {
    margin-right: 0px;
    margin-left: 10px;
}



/* 
------------------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------------------
*/

@media only screen and (max-width: 767px) {

    .weather {
        width: 100%;
        flex:initial;
    }

    .graphicContainer {
        display: flex;
        align-items: center;
    
        padding: 15px 0px;
    }
}

@media only screen and (max-width: 576px) {

}



/* 
------------------------------------------------------------------------------
CHECK TOUCH
------------------------------------------------------------------------------
*/

@media (pointer: fine) {

}