
/* 
------------------------------------------------------------------------------
GENERAL
------------------------------------------------------------------------------
*/

.weatherApp_wrapper
{
	height: 100vh;
	width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.weatherApp
{
	display: flex; 
	box-sizing: border-box;

	width: calc(100% - 20px);
	max-width: 800px;
	margin: 10px;

	background-color: var(--color-white);
    border-radius: 10px;
	overflow: hidden;
}



/* 
------------------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------------------
*/

@media only screen and (max-width: 767px) {
	.weatherApp
	{
		flex-wrap: wrap;
	}
}

@media only screen and (max-width: 576px) {

}



/* 
------------------------------------------------------------------------------
CHECK TOUCH
------------------------------------------------------------------------------
*/

@media (pointer: fine) {

}