
/* 
------------------------------------------------------------------------------
GENERAL
------------------------------------------------------------------------------
*/

html {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;

	color:var(--text-color);
	background-color: var(--color-background);
	overflow-x: hidden;
}


h1 {
	font-size: var(--font-size-h1);
	line-height: var(--line-height-headline);
}

h2 {
	font-size: var(--font-size-h2);
	line-height: var(--line-height-headline);
}

h3 {
	font-size: var(--font-size-h3);
	line-height: var(--line-height-headline);
}

p {
	font-size: var(--font-size-text);
	line-height: var(--line-height-text);
}


/* 
------------------------------------------------------------------------------
RESPONSIVE
------------------------------------------------------------------------------
*/

@media only screen and (max-width: 1024px) {
	
	html {
		font-size: 12px;
	}
}
